/* Add your CSS styles here */
body {
    text-align: left;
    font-family: Arial, sans-serif;
    margin: 10vh 0px 0px 10vw;
    padding: 0;
}

.outline {
  display: inline;
  border: 1px solid #999;
  border-collapse: separate;
  border-spacing: 50px;

}

.button:click{
  
}

header {
}

nav ul {
}

nav ul li {
}

nav ul li a {
}

section {
}

footer {
}
