/* Add your CSS styles here */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
main {
  font-family: "Raleway", sans-serif;
  
  width: 650px;
  line-height: 1.2em;
  
  margin-top: 15vh;
  margin-bottom: 20vh;
}

/* 
-----------------ID------------------
*/
#noSelect{
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Old versions of Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
 user-select: none; /* Non-prefixed version, currently*/
}

#cursor-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: difference;
}

#eraser-button {
  display: flex;
  flex-grow: 1;
  flex-basis: 200;
  background-color: pink;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 9;
}

#eraser-button:hover {
  transform: scaleX(1.2);
}

/* 
-----------------Circle Stamps-----------------
*/
.clicked-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: difference;
  z-index: -1;
}

/* 
-----------------Eraser Button-----------------
*/



/* 
----------------Body-----------------
*/
body {  
  display: flex;
  flex-grow: 1;
  flex-basis: 200;
  justify-content: center;
  padding: 0;
  margin: 0vh 10vw 10vh 10vw;
}

.link {
  text-decoration: none;
}

.name{
  display: flex;
  position: relative;
  justify-content: center;
  padding: 1px;
  margin: 0px;
  font-family: "Raleway", sans-serif;
}

/*RECIPE CARDS*/
.flex{
  display: flex;
  flex-grow: 1;
  flex-basis: 200;
  padding: 0;
}

.recipe-card {
    display: flex;
    flex-grow: 1;
    flex-basis: 200;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    
    width: 30vw;
    height: 8vh;
    max-height: 8vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 4px solid #000;
    
    overflow: hidden;
    margin: 3vh;
    padding: 2vh;
    z-index: 9;
    background-color: white;
}

.recipe-card:hover{
  background-color: #ccc;
  cursor: pointer;
}

.recipe-title {
    display: absolute;
    position: absolute;
    font-weight: bold;
    font-size: 1.5em;
}

.hidden {
  margin: 0px 5vw 0px 5vw;
  max-height: 0vh;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  background-color: white;
  z-index: 9;
}

/* WORKS CARDS */
.scrolling-wrapper {
  overflow-x: visible;
  overflow-y: hidden;
  white-space: nowrap;
  height: 20vh;
  margin-bottom: 4vh;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
 }
 
 .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 4px solid #000;
  width: 15vw;
  height: 15vh;
  background: none;
  text-align: center;
  cursor: pointer;
}
  
 .scrolling-wrapper > .card {
  display: inline-block;
  }
  
