/* Add your CSS styles here */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
main {
  width: 650px;
  margin: auto;
  margin-top: 15vh;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20vh;
  line-height: 1.2em;
  
}

body {
  display: flex;
  flex-grow: 1;
  flex-basis: 200;
  text-align: left;
  font-family: Arial, sans-serif;
  margin: 10vh 0px 0px 10vw;
  padding: 0;
}

.name{
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-basis: 200;
  font-size
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.outline {
  width: 15vw;
  /* Adjust the width and height as needed */
  height: 8vh;
  /* to make it circular */
  border: .5vw solid #000;
  /* 10px buffer */
  border-radius: 20%;
  /* Makes it a circle */
  display: flex;
  flex-grow: 1;
  flex-basis: 200;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.outline:hover{
  background-color: #ccc
}

.hidden {
  margin: 0px 0px 0px 8vw;
  max-height: 0vh;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

h2 {
  margin: 5vh;
  padding: 2vh;
}

header {}

nav ul {}

nav ul li {}

nav ul li a {}

section {}

footer {}

/* LAMP */

